.wrapper
  %h2 新規登録
  .go-login
    %span.to 既にアカウントをお持ちの方は
    %span.link= render "devise/shared/links"
  .buttons
    %button.register-fb.fb{:onclick => "NP.Facebook.login()", :type => "button"}
      %span.facebook Facebookで新規登録
    %button.register-tw.tw{:onclick => "NP.Twitter.login()", :type => "button"}
      %span.twitter Twitterで新規登録
    .or
      %div または
  .form{:style => "top: 120px"}
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "登録するメールアドレス"
      .field
        = f.password_field :password, autocomplete: "off",  placeholder: "パスワード"
      .actions
        = f.submit "新規登録"
  .description.small
    利用開始をもって《利用規約》と《個人情報保護方針》に
    %br/
    同意したものとみなします。
